{% extends 'master_page.html' %}

{% block page_title %}
    <title>404</title>
{% endblock %}

{% block bl_user_name %}

    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="static/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <span id="user_name" class="d-none d-lg-inline-flex">{{ user_name }}</span>
            </a>

            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                {% if user_name == 'Guest' %}
                    <a href="/login" class="dropdown-item">Log In</a>
                {% else %}
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="/logout" class="dropdown-item">Log Out</a>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <!-- 404 Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
            <div class="col-md-6 text-center p-4">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1 fw-bold">404</h1>
                <h1 class="mb-4">Page Not Found</h1>
                <p class="mb-4">We’re sorry, the page you have looked for does not exist in our website!
                    Maybe go to our home page or try to use a search?</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="/index">Go Back To Home</a>
            </div>
        </div>
    </div>
    <!-- 404 End -->
{% endblock %}