{% extends 'master_page.html' %}

{% block page_title %}
    <title>Chart demo</title>
{% endblock %}

{% block bl_user_name %}

    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="{{ url_for('static', path='/img/user.jpg') }}" alt="" style="width: 40px; height: 40px;">
                <span id="user_name" class="d-none d-lg-inline-flex">{{ user_name }}</span>
            </a>

            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                {% if user_name == 'Guest' %}
                    <a href="/login" class="dropdown-item">Log In</a>
                {% else %}
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="/logout" class="dropdown-item">Log Out</a>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{% block sidebar_chart %}
    <a href="\chart" class="nav-item nav-link active"><i class="fa fa-chart-bar me-2"></i>Charts</a>
{% endblock %}

{% block content %}
    <!-- Chart Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Single Line Chart</h6>
                    <canvas id="line-chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Multiple Line Chart</h6>
                    <canvas id="salse-revenue"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Single Bar Chart</h6>
                    <canvas id="bar-chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Multiple Bar Chart</h6>
                    <canvas id="worldwide-sales"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Pie Chart</h6>
                    <canvas id="pie-chart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Doughnut Chart</h6>
                    <canvas id="doughnut-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Chart End -->
{% endblock %}
