{% extends 'master_page.html' %}

{% block page_title %}
    <title>Convert SAV</title>
{% endblock %}

{% block bl_user_name %}

    {% include 'user_bar.html' %}

{% endblock %}

{% block sidebar_tool %}
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Tools</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="\convert-sav" class="dropdown-item active">Convert to Sav</a>
            <a href="\baemin-check" class="dropdown-item">Baemin checking</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row bg-light rounded align-items-top justify-content-center mx-0">
            <div class="col-md-6 text-center p-4">
                <div class="d-flex align-items-center justify-content-center mb-4">
                        <h4 class="mb-0">Convert to SAV</h4>
                </div>

                <div class="d-flex align-items-center justify-content-center">

                    <form id="uploadform" action="/convert-sav" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label for="xlsxFile" class="form-label">Choose xlsx file</label>
                            <input class="form-control" type="file" id="xlsxFile" name="file" multiple data-max="1" accept=".xlsx" value="">
                        </div>

                        <input class="btn btn-primary py-3 w-100 mb-4" type="submit" value="Convert">

                        {% if strErr|trim|length %}
                        <div id="err" class="alert alert-danger" role="alert">
                            {{ strErr }}
                        </div>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_files %}
    <script>
        setTimeout(() => {
            const err = document.getElementById('err');
            err.style.display = 'none';
    <!--        err.style.visibility = 'hidden';-->
        }, 3000);
    </script>
{% endblock %}