{% extends 'master_page.html' %}

{% block page_title %}
    <title>MSN Projects</title>
{% endblock %}

{% block bl_user_name %}

    {% include 'user_bar.html' %}

{% endblock %}

{% block sidebar_MSN_prj %}
    <a href="\msn-prj" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>MSN projects</a>
{% endblock %}

{% block search_bar %}
    <form id="form_search_prj_name" class="d-none d-md-flex ms-4 w-100" action="/msn-prj/search" method="get" enctype="multipart/form-data">
        <input class="form-control border-0" name="search_prj_name" type="search" placeholder="Search project name/ID" value="{{ search_prj_name }}">
    </form>
{% endblock %}

{% block content %}
    <!-- Overview -->
<!--    <div class="container-fluid pt-4 px-4">-->

<!--        <div class="row g-4">-->
<!--            <div class="col-sm-6 col-xl-3">-->
<!--                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">-->
<!--                    <p class="mb-2">Total</p>-->
<!--                    <h6 class="mb-0">{{ overView.total }}</h6>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6 col-xl-3">-->
<!--                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">-->
<!--                    <p class="mb-2">Completed</p>-->
<!--                    <h6 class="mb-0">{{ overView.completed }}</h6>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6 col-xl-3">-->
<!--                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">-->
<!--                    <p class="mb-2">On Going</p>-->
<!--                    <h6 class="mb-0">{{ overView.on_going }}</h6>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-sm-6 col-xl-3">-->
<!--                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">-->
<!--                    <p class="mb-2">Pending/Cancel</p>-->
<!--                    <h6 class="mb-0">{{ overView.pending_cancel }}</h6>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Overview End -->

    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">

        {% if strErr|trim|length %}
            <div id="err" class="alert alert-danger" role="alert">
                {{ strErr }}
            </div>
        {% endif %}

        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h4 class="mb-0">MSN Projects</h4>
                <button type="button" class="btn btn-primary m-2" onclick="showDialog('dialog_add_prj')">Add project</button>
            </div>

            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
<!--                            <th scope="col"><input class="form-check-input" type="checkbox"></th>-->
                            <th scope="col" width="10%">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col" width="15%">Categorical</th>
                            <th scope="col" width="10%">Status</th>
                            <th scope="col" width="5%"></th>
                            <th scope="col" width="5%"></th>
                            <th scope="col" width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for prj in lst_prj %}
                            <tr>
<!--                                <td><input class="form-check-input" type="checkbox"></td>-->
                                <td>{{ prj.internal_id }}</td>
                                <td>{{ prj.name }}</td>
                                <td>{{ prj.categorical }}</td>
                                <td>{{ prj.status }}</td>
                                <td><a class="btn btn-sm btn-primary" href="/msn-prj/{{ prj.id }}">Detail</a></td>
                                <td>
                                    <form id="form_copy_prj_{{ prj.id }}" action="/msn-prj/copy/{{ prj.id }}" method="get" enctype="multipart/form-data">
                                        <input type="hidden" name="copy_prj_{{ prj.id }}" value="{{ prj.name }}">
                                        <input class="btn btn-sm btn-outline-primary" type="submit" value="Copy" onclick="submit_delete_copy_prj('{{ prj.id }}', 'copy');">
                                    </form>
                                </td>
                                <td>
                                    <form id="form_del_prj_{{ prj.id }}" action="/msn-prj/delete/{{ prj.id }}" method="get" enctype="multipart/form-data">
                                        <input type="hidden" name="del_prj_{{ prj.id }}" value="{{ prj.name }}">
                                        <input class="btn btn-sm btn-outline-danger" type="submit" value="Delete" onclick="submit_delete_copy_prj('{{ prj.id }}', 'del');">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        <dialog id="dialog_add_prj" class="col-sm-12 col-xl-6">

            <div class="bg-light rounded h-100 p-4">

                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h5 class="mb-2">Add Project</h5>
                </div>

                <form id="form_add_prj" action="/msn-prj/add" method="get" enctype="multipart/form-data">

                    <div class="row g-0">
                        <div class="col-sm-12 col-xl-6">
                            <div class="bg-light rounded h-100 p-2">
                                <div class="form-floating mb-0">
                                    <input type="text" class="form-control" id="internal_id"
                                           name="internal_id" value="" placeholder="">
                                    <label for="internal_id">Internal ID</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xl-6">
                            <div class="bg-light rounded h-100 p-2">
                                <div class="form-floating mb-0">
                                    <input type="text" class="form-control" id="prj_name"
                                           name="prj_name" value="" placeholder="">
                                    <label for="prj_name">Name</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row g-0">
                        <div class="col-sm-12 col-xl-6">
                            <div class="bg-light rounded h-100 p-2">
                                <div class="form-floating mb-0">
                                    <input type="text" class="form-control" id="prj_cat"
                                           name="categorical" value="" placeholder="">
                                    <label for="prj_cat">Category</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xl-6">
                            <div class="bg-light rounded h-100 p-2">
                                <div class="form-floating mb-0">

                                    <select class="form-select" id="floatingSelect_status"
                                        aria-label="Floating label select example"
                                        name="prj_status">

                                        {% for stt in ['Completed', 'On Going', 'Pending', 'Cancel'] %}

                                            {% if stt == 'On Going' %}
                                                <option selected value="{{ stt }}">{{ stt }}</option>
                                            {% else %}
                                                <option value="{{ stt }}">{{ stt }}</option>
                                            {% endif %}

                                        {% endfor %}

                                    </select>
                                    <label for="floatingSelect_status">Status</label>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row g-0 p-0">
                        <div class="col-sm-12 col-xl-3"></div>
                        <div class="col-sm-12 col-xl-3"></div>

                        <div class="col-sm-12 col-xl-3">
                            <div class="bg-light rounded h-100 p-2">
                                <button type="button" class="btn btn-secondary py-3 w-100" onclick="closeDialog('dialog_add_prj')">Close</button>
                            </div>

                        </div>

                        <div class="col-sm-12 col-xl-3">
                            <div class="bg-light rounded h-100 p-2">
                                <input class="btn btn-primary py-3 w-100" type="submit" value="Add" id="submit_add_prj" onclick="func_submit_add_prj('form_add_prj');">
                            </div>
                        </div>

                    </div>

                </form>

            </div>

        </dialog>



        <!--Pagination-->
        {% if page_count > 1 %}
            <div class="bg-light rounded h-100 p-4">
                <div class="btn-toolbar justify-content-end" role="group">

                    <form action="/msn-prj" method="get" enctype="multipart/form-data">

                        <input type="submit" class="btn-check" name="page" id="btnradio_1st" autocomplete="off" value="1">
                        <label class="btn btn-outline-primary" for="btnradio_1st"><<</label>

                        {% for i in range(1, page_count + 1) %}

                            {% if i == 1 %}

                                <input type="submit" class="btn-check" name="page" id="btnradio{{ i }}" autocomplete="off" value="{{ i }}">

                                {% if i == page_sel %}
                                    <label class="btn btn-primary" for="btnradio{{ i }}">{{ i }}</label>
                                {% else %}
                                    <label class="btn btn-outline-primary" for="btnradio{{ i }}">{{ i }}</label>
                                {% endif %}

                            {% elif i == 2 %}

                                <input type="submit" class="btn-check" name="page" id="btnradio{{ i*1 }}" autocomplete="off" value="{{ i }}">

                                {% if i == page_sel %}

                                    <label class="btn btn-primary" for="btnradio{{ i }}">{{ i }}</label>

                                    <input type="submit" class="btn-check" name="page" id="btnradio{{ i + 1 }}" autocomplete="off" value="{{ i + 1 }}">
                                    <label class="btn btn-outline-primary" for="btnradio{{ i + 1 }}">{{ i + 1 }}</label>

                                {% else %}
                                    <label class="btn btn-outline-primary" for="btnradio{{ i }}">{{ i }}</label>
                                {% endif %}

                            {% elif i == page_count - 1 %}

                                {% if i == page_sel %}
                                    <input type="submit" class="btn-check" name="page" id="btnradio{{ i - 1 }}" autocomplete="off" value="{{ i - 1 }}">
                                    <label class="btn btn-outline-primary" for="btnradio{{ i*1 - 1 }}">{{ i - 1 }}</label>
                                {% endif %}

                                <input type="submit" class="btn-check" name="page" id="btnradio{{ i*1*1 }}" autocomplete="off" value="{{ i }}">

                                {% if i == page_sel %}
                                    <label class="btn btn-primary" for="btnradio{{ i }}">{{ i }}</label>
                                {% else %}
                                    <label class="btn btn-outline-primary" for="btnradio{{ i }}">{{ i }}</label>
                                {% endif %}

                            {% elif i == page_count %}

                                <input type="submit" class="btn-check" name="page" id="btnradio{{ i*1*1*1 }}" autocomplete="off" value="{{ i }}">

                                {% if i == page_sel %}
                                    <label class="btn btn-primary" for="btnradio{{ i }}">{{ i }}</label>
                                {% else %}
                                    <label class="btn btn-outline-primary" for="btnradio{{ i }}">{{ i }}</label>
                                {% endif %}

                            {% else %}

                                {% if i == page_sel %}

                                    {% if i != 3 %}
                                        <input type="submit" class="btn-check" name="page" id="btnradio{{ i*1 - 1 }}" autocomplete="off" value="{{ i - 1 }}">
                                        <label class="btn btn-outline-primary" for="btnradio{{ i*1 - 1 }}">{{ i - 1 }}</label>
                                    {% endif %}

                                    <input type="submit" class="btn-check" name="page" id="btnradio{{ i*1*1*1*1 }}" autocomplete="off" value="{{ i }}">
                                    <label class="btn btn-primary" for="btnradio{{ i }}">{{ i }}</label>

                                    {% if i != page_count - 2 %}
                                        <input type="submit" class="btn-check" name="page" id="btnradio{{ i*1 + 1 }}" autocomplete="off" value="{{ i + 1 }}">
                                        <label class="btn btn-outline-primary" for="btnradio{{ i + 1 }}">{{ i + 1 }}</label>
                                    {% endif %}

                                {% endif %}

                            {% endif %}

                        {% endfor %}

                        <input type="submit" class="btn-check" name="page" id="btnradio_last" autocomplete="off" value="{{ page_count }}">
                        <label class="btn btn-outline-primary" for="btnradio_last">>></label>

                    </form>
                </div>
            </div>
        {% endif %}


    </div>
    <!-- Recent Sales End -->




{% endblock %}

{% block js_files %}
    <script src="{{ url_for('static', path='/js/my_frontend.js') }}"></script>

    <script type="text/javascript">
        setTimeout(() => {
            const err = document.getElementById('err');
            err.style.display = 'none';
    <!--        err.style.visibility = 'hidden';-->
        }, 3000);

    </script>
{% endblock %}